FFMpegEnvTest/avcodec-58.dll
FFMpegEnvTest/avdevice-58.dll
FFMpegEnvTest/avfilter-7.dll
FFMpegEnvTest/avformat-58.dll
FFMpegEnvTest/avutil-56.dll
FFMpegEnvTest/postproc-55.dll
FFMpegEnvTest/swresample-3.dll
FFMpegEnvTest/swscale-5.dll
x64/Debug/FFMpegEnvTest.exe
x64/Debug/FFMpegEnvTest.ilk
x64/Debug/FFMpegEnvTest.pdb
Debug/FFMpegEnvTest.pdb
FFMpegEnvTest/Debug/
FFMpegEnvTest/x64/
FFMpegEnvTest/simplest_ffmpeg_streamer/.vs/
FFMpegEnvTest/simplest_ffmpeg_streamer/include/
FFMpegEnvTest/simplest_ffmpeg_streamer/lib/
.vs/
